@import url("themes/catppuccin/macchiato.css");

@define-color background @crust;

* {
    font-family: Hack Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* font-size: 13.5px; */
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* TODO: this is responsible for active workspace underline  */
/* button:hover { */
/*     background: inherit; */
/*     box-shadow: inset 0 -3px #ffffff; */
/* } */

#workspaces {
    color: @rosewater;
    background-color: @background;
    border-radius: 1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}


#workspaces button {
    color: @rosewater;
    padding-left: 0.2rem;
    padding-right: 0.6rem;
}

#workspaces button:hover {
    color: @background;
    background: @overlay0;
    /* background: @rosewater; */
    /* background: color-mix(in srgb, @rosewater , transparent 50%); */
    /* background: rgba(0, 0, 0, 0.2); */
    /* NOTE: hover upperline */
    /* box-shadow: inset 0 1px @rosewater; */
}

#workspaces button.active {
    color: @flamingo;
    background: inherit;
    /* NOTE: active underline */
    /* box-shadow: inset 0 -1px @flamingo; */
    /* background-color: #64727D; */
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    color: @background;
    background-color: @maroon;
}


#window {
    margin-left: 0.75rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0.5rem;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0.5rem;
}

#clock {
    color: @rosewater;
    background-color: @background;
    border-radius: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#tray {
    background-color: @background;
    border-radius: 1rem;
    margin-left: 0.75rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor,
#custom-updates {
    background-color: @background;
    /* margin: 0; */
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}

#idle_inhibitor {
    color: @lavender;
    border-radius: 1rem 0 0 1rem;
    padding-left: 0.9rem;
}

#idle_inhibitor.activated {
    color: @background;
    background-color: @lavender;
    border: 0.15rem solid @background;
}

#custom-updates {
    color: @green;
    border-radius: 0 1rem 1rem 0;
    /* NOTE: this goes to backlight for better visuals */
    /* margin-right: 0.75rem; */
    padding-right: 0.9rem;
}

#custom-updates.yes {
    color: @background;
    background-color: @green;
    border: 0.15rem solid @background;
    border-left: none;
}

#backlight,
#wireplumber,
#language,
#bluetooth,
#network,
#battery {
    background-color: @background;
    margin: 0;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}

#backlight {
    color: @rosewater;
    border-radius: 1rem 0 0 1rem;
    min-width: 3.55rem;
    margin-left: 0.75rem;
    padding-left: 0.8rem;
}

#wireplumber {
    color: @peach;
    min-width: 4.15rem;
}

#wireplumber.muted {
    color: @background;
    background-color: @peach;
    border: 0.15rem solid @background;
}

#language {
    color: @rosewater;
    /* background-color: @green; */
}

#bluetooth {
    color: @blue;
}

/* + off & on*/
#bluetooth.disabled {
    color: @background;
    background-color: @blue;
}

#network {
    color: @flamingo;
}

#network.disabled {
    color: @background;
    background-color: @flamingo;
}

#battery {
    color: @green;
    border-radius: 0 1rem 1rem 0;
    margin-right: 0.75rem;
    padding-right: 0.8rem;
}

#battery.charging {
    color: @background;
    background-color: @green;
    border: 0.15rem solid @background;
}

#battery.meh:not(.charging) {
    color: @background;
    background-color: @yellow;
    border: 0.15rem solid @background;
}

#battery.warning:not(.charging) {
    color: @background;
    background-color: @peach;
    border: 0.15rem solid @background;
}

#battery.critical:not(.charging) {
    color: @background;
    background-color: @red;
    border: 0.15rem solid @background;
}

#custom-power {
    color: @maroon;
    background-color: @background;
    border-radius: 1rem;
    margin-right: 0.5rem;
    /*0.9*/
    padding-right: 1.1rem;
    /*0.6*/
    padding-left: 0.75rem;
}
