[Unit]
Description=Start Copyq user service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/copyq
Restart=on-failure

