[Unit]
Description=Start Waypaper wallpaper setter
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/sbin/waypaper --restore
Restart=on-failure
