[Unit]
Description=Start wpaperd wallpaper daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/sbin/wpaperd
Restart=on-failure
